/**
 * County map and colors.
 */

$candidateColors: (
  mn-20180814-33506-murphy: #82BAE0,
  mn-20180814-33509-walz: #B9EE7D,
  mn-20180814-33508-swanson: #CE91E9,
  mn-20180814-33505-holden: #65C0B0,
  mn-20180814-33507-savior: #9084C3,
  mn-20180814-33512-johnson: #EB6868,
  mn-20180814-33511-pawlenty: #F9F37C,
  mn-20180814-33510-kruse: #FBA363
);

.results .has-county-map {
  .contest-county-map {
    // Use margin top since we want to get offsetHeight
    margin-top: 2em;
    position: relative;
  }

  .county-path {
    fill: #F5F5F5;
    stroke: #FFFFFF;
    stroke-width: 0.5px;
    transition: fill 1s;
  }

  .county-path:hover {
    cursor: pointer;
    stroke-width: 2px;
  }

  // A bit hacky, and probaly needs some adjustment
  .race-party-table {
    min-height: 230px;

    @media (max-width: 768px) {
      min-height: 0;
    }
  }

  // Candidate colors colors
  @each $cand, $color in $candidateColors {
    .candidate-result-#{$cand} {
      background-color: $color;
    }

    &.is-reporting .county-reporting.county-leader-#{$cand},
    &.is-reporting .county-fully-reported.county-leader-#{$cand} {
      fill: $color;
    }
  }

  .county-map-tooltip {
    position: absolute;
    z-index: 100;
    max-width: 22em;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    font-size: 0.8em;
    background-color: #FFFFFF;
    border: 1px solid #565656;
    margin: 0.5em;
    padding: 0.5em;

    h4 {
      padding-top: 0;
      margin-top: 0;
      font-size: 1.15em !important;
    }

    &.tooltip-hover-region-top {
      top: auto;
      bottom: 0;
    }

    &.tooltip-active {
      display: block;
    }
  }
}
