/**
 * County map and colors.
 */

$demColors: #82bae0, #b9ee7d, #ce91e9, #65c0b0, #9084c3;
$repColors: #eb6868, #f9f37c, #fba363, #f695be, #fc9e8a;

.has-county-map {
  .contest-county-map {
    // Use margin top since we want to get offsetHeight
    margin-top: 2em;
    position: relative;
  }

  .county-path:hover {
    cursor: pointer;
  }

  // A bit hacky, and probaly needs some adjustment
  .race-party-table {
    min-height: 255px;

    // TODO: mobile/single-column, remove min-height
  }

  // Dem colors
  &.party-dfl,
  &.party-dem {
    @each $c in $demColors {
      $index: index($demColors, $c);

      .candidate-result-#{$index - 1} {
        background-color: $c;
      }

      &.is-reporting .county-reporting.county-leader-#{$index - 1},
      &.is-reporting .county-fully-reported.county-leader-#{$index - 1} {
        fill: $c;
      }
    }
  }

  // Rep colors
  &.party-rep {
    @each $c in $repColors {
      $index: index($repColors, $c);

      .candidate-result-#{$index - 1} {
        background-color: $c;
      }

      &.is-reporting .county-reporting.county-leader-#{$index - 1},
      &.is-reporting .county-fully-reported.county-leader-#{$index - 1} {
        fill: $c;
      }
    }
  }

  .county-map-tooltip {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    font-size: 0.85em;
    background-color: #FFFFFF;

    &.tooltip-hover-region-top {
      top: auto;
      bottom: 0;
    }

    &.tooltip-active {
      display: block;
    }
  }
}
