/**
 * Project specific styling.
 */

// HEADER styles
.results-header{
    text-align: center;
    max-width: 900px;

   h1 {
    padding-top: 0.3em;
  }

   h5 {
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .08em;
    padding-top: 40px;
  }


// NAV default styles

  nav ul{
    width: 100%;
    display: block;
    text-align: center;
    margin: 40px auto 40px auto;
  }

  nav ul li{
    background-color: white;
    text-transform: uppercase;
    font-size: 0.75em;
    font-family: 'Benton Sans';
    border: 1px solid #080808;
    border-radius: 6px;
    padding: 5px 10px 4px 10px;
    margin-right: 12px;
    min-width: 12%;
  }

  nav ul li span{
    padding-left: 10px;
  }

  nav ul li img{
    width: 20px;
    -webkit-transition: 0.3s ease-out;
    -moz-transition:  0.3s ease-out;
    transition:  0.3s ease-out;
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav ul li a, nav ul li a:link, nav ul li a:visited{
    color: #080808;
  }

  nav ul li ul.dropdown li{
    border:none;
    display: block;
    text-align: left;
    font-size: .9em;
  }

  nav ul li ul.dropdown{
    display:none;
    }


// NAV hover states

  nav ul li:hover{
   color: #666;
   border: 1px solid #666;
   cursor: pointer;
 }

  nav ul li:hover a{
   color: #666;
 }

  nav ul li a:hover{
    background-color: eee;
  }

  nav ul li:hover img{
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }

  nav ul li:hover ul.dropdown{
    display: block;
  }



}


// RESULTS mainframe
.results{
  max-width: 975px;

  h3{
    font-weight: bold;
    font-size: 1.3em;
  }

  .lead-in{
    max-width: 525px;
    margin: auto;
    text-transform: none;
    font-family: 'Benton Sans';
    font-size: .9em;
    padding: 40px 0px;
  }

  .lead-in span{
    font-weight: bold;
  }

  .race-group .race-party:last-child{
    margin-left:8%;
  }

  .race-party{
    width: 46%;
    float: left;
    margin-bottom: 40px;
  }

  .race-group{
    clear: both;
    margin-bottom: 100px;
  }

  .race-party thead tr th{
    font-size: .6em;
    text-transform: uppercase;
    color: #080808;
    font-weight: normal;
    border-bottom: 3px solid #EEEEEE;
    padding-left: 0px;
    padding-bottom: .3em;
  }

  .race-party tbody td{
    font-size: .9em;
    border-bottom: 1px solid #EEEEEE;
    vertical-align: middle;
  }

  .cand{
    padding-left: 15px;
  }

  .votes, .pct{
    text-align: right;
  }

  .bar{
    width: 28%;
  }

  .bar .pctBar{
    display: block;
    height: 5px;
    border-radius: 2px;
    min-width: 2px;
    background-color: black;
  }

  .race-party .mapcanvas span{
    width: 100%;
    height: 400px;
    background-color: #eee;
    display: block;
  }



}

