// RESULTS mainframe
.results {
  max-width: 975px;

  @media (max-width: 545px) {
    max-width: 95%;
    margin: auto;
  }

  .lead-in {
    max-width: 525px;
    margin: auto;
    text-transform: none;
    font-family: "Benton Sans";
    font-size: 0.9em;
    padding: 20px 0px 40px 0px;
  }

  .lead-in span {
    font-weight: bold;
  }

  h3 {
    font-size: 1.4em;
    font-weight: bold;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
  }

  h6 {
    font-size: 1em;
    font-weight: normal;
  }

  .race-party-chat p {
    font-family: "Benton Sans";
    font-size: 0.9em;
  }

   .race-party:nth-child(odd) {
    margin-left: 8%;

    @media (max-width: 768px) {
      margin: auto;
    }
  }

  .race-party {
    width: 46%;
    float: left;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      width: 100%;
      margin: auto;
      float: none;
    }
  }

  .race-group,
  .race {
    clear: both;
  }

  .race-group {
    padding-top: 50px;
  }

  .race-party-table {
    min-height: 225px;

    @media (max-width: 768px) {
      min-height: 100px;
    }
  }

  .race-party table {
    margin-bottom: 0.5em;
  }

  .race-party thead tr th {
    font-size: 0.6em;
    text-transform: uppercase;
    color: #080808;
    font-weight: normal;
    border-bottom: 3px solid #eeeeee;
    padding-left: 0px;
    padding-bottom: 0.2em;
  }

  .race-party tbody td {
    font-size: 0.9em;
    border-bottom: 1px solid #eeeeee;
    vertical-align: middle;
  }

  tr.test-data{
    background-color: lavender;
  }

  .cand {
    padding-left: 0px;
  }

  .cand .inc {
    font-size: 0.8em;
    padding-left: 5px;
  }

  .votes,
  .pct {
    text-align: right;
  }

  .bar {
    width: 25%;

    @media (max-width: 900px) {
      display: none;
    }
  }

  .bar .pctBar {
    display: block;
    height: 5px;
    border-radius: 2px;
    min-width: 2px;
  }

  .party-dem .pctBar{
    background-color: #0258A0;
  }

  .party-rep .pctBar{
    background-color: #C0272D;
  }

  .reporting {
    font-size: 0.65em;
    color: #808080;
    font-style: italic;
    margin-bottom: 2em;
  }

  .race-party .mapcanvas span {
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: #eee;
    display: block;
  }

  // MAP styles

  .counties {
    fill: #dcdcdc;
    stroke: white;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  //RACE STYLE EXCEPTIONS

  //Winners

  tr.winner {
    background-color: #f5f5f5;
  }

  tr.winner td.cand {
    font-weight: bold;
  }

  td.winner {
    width: 18px;
    padding: 0.5em 0.2em 0.5em 0.5em;
    font-size: 0.8em;
  }

  //Uncontested

  .uncontested th.votes,
  .uncontested th.pct, {
    visibility: hidden;
  }

  .uncontested .bar .pctBar {
    width: 0px;
    min-width: 0px;
  }

  .uncontested tr td {
    background-color: #f5f5f5;
  }

  footer {
    padding-top: 350px;
  }
}
